body {
	width: 844px;
	margin: 0 auto;
}
/*****start // Firm-style *****/
.firm-style__span {
	font-weight: bold;
}
.firm-style-p {
	text-indent: 1.5em;
}
.firm-style__section--bg {
	width: 100%;
	height: 75px;
	background-image: url(../assets/images/firm-style/img-under-title-style.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin: 45px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
h2.firm-style__section {
	text-align: center;
	line-height: 20px;
	margin-bottom: 45px;
}
.features {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 45px auto;
}
.features__item {
	width: 190px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.features__text {
	text-align: center;
	font-size: 18px;
}
.firm-style__bg {
	width: 100%;
	height: auto;
	margin: 30px auto 0!important;
}
/*****start // Firm-style Manual-section*****/

.firm-style__section--manual {
	margin: 45px auto 0!important;
}
.firm-style__section--why {
	text-align: center;
    line-height: 20px;
    margin-bottom: 45px!important;
}	
.manual {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.manual__item {
	width: 240px;
	max-width: 100%;
	height: 215px;
	position: relative;
	background: -webkit-gradient(linear,left top, right bottom,color-stop(14%, #eaecf0),color-stop(#f7f7fa),color-stop(80%, #f8f8fb));
	background: -webkit-linear-gradient(top left,#eaecf0 14%,#f7f7fa,#f8f8fb 80%);
	background: -o-linear-gradient(top left,#eaecf0 14%,#f7f7fa,#f8f8fb 80%);
	background: linear-gradient(to bottom right,#eaecf0 14%,#f7f7fa,#f8f8fb 80%);
    -webkit-box-shadow: 0 0 28.3px -1.3px rgba(103, 103, 103, 0.55);
            box-shadow: 0 0 28.3px -1.3px rgba(103, 103, 103, 0.55);
    border-radius: 15px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    padding-right: 15px;
    margin: 45px 0 0;
}
.manual__item:before {
	position: absolute;
	content: "";
	width: 70px;
	height: 64px;
    top: -7px;
    left: 15px;
}
.manual__item--1:before {
	background-image: url(../assets/images/firm-style/icons/manual-1.png);
}
.manual__item--2:before {
	background-image: url(../assets/images/firm-style/icons/manual-2.png);
}
.manual__item--3:before {
	background-image: url(../assets/images/firm-style/icons/manual-3.png);
}
.manual__item--4:before {
	background-image: url(../assets/images/firm-style/icons/manual-4.png);
}
.manual__item--5:before {
	background-image: url(../assets/images/firm-style/icons/manual-5.png);
}
.manual__item--2 {
	margin-left: 20px;
	margin-right: 20px;
}
.manual__item--4 {
	margin-right: 20px;
}
.manual__number {
	font-family: 'OpenSans-CondDensed', sans-serif;
	font-size: 66px;
	font-weight: bold;
	color: #267392;
}
.manual__title {
	font-size: 13.5px;
	font-weight: 700;
	font-family: 'OpenSans-CondDensed', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #292626;
}
.manual__left {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	justify-content: center;        
	width: 100px;
	margin-top: 45px;
}
.manual__left p {
	margin: 0;
	line-height: 1.4;
}
.manual__right {
	width: 160px;
	padding-left: 10px;
}
.manual__right hr {
	border: none; 
    color: #267392; 
    background-color: #267392;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 10px; 
}
.manual__text {
	font-size: 15px;
}
.manual__text ul {
	padding-left: 15px;
}

/*****final // Firm-style Manual-section*****/
/*****start // Firm-style Video-section*****/

h2.firm-style__video--title {
	text-align: center;
	margin: 45px 0;
}
.firm-style__video--wrap {
	text-align: center;
	/*position: relative;*/
	margin: 45px 0;
}
.video {
  margin: 1em auto;
  display: block;
  max-width: 100%;
  border: 2px solid;
  -webkit-border-image: -webkit-gradient(linear, left bottom, right top, color-stop(38%, #165e85), color-stop(65%, #548d78));
  -webkit-border-image: -webkit-linear-gradient(bottom left, #165e85 38%, #548d78 65%);
       -o-border-image: -o-linear-gradient(bottom left, #165e85 38%, #548d78 65%);
          border-image: -webkit-gradient(linear, left bottom, right top, color-stop(38%, #165e85), color-stop(65%, #548d78));
          border-image: linear-gradient(to top right, #165e85 38%, #548d78 65%);
  border-image-slice: 1;
}
.video:hover + .video-control {
  opacity: 0.8;
}
.video-contror__wrap {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.video-contror__item {
	width: 30px;
	height: 30px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    -moz-transition: all 0.5s ease-out;
 	-o-transition: all 0.5s ease-out;
 	-webkit-transition: all 0.5s ease-out;
}
.video__start {
	background-image: url(../assets/images/firm-style/icons/video-start.png);
}
.video__start:hover {
	background-image: url(../assets/images/firm-style/icons/video-start-black.jpg);
}
.video__pause {
	margin: 0 10px;
	background-image: url(../assets/images/firm-style/icons/video-pause.png);
}
.video__pause:hover {
	background-image: url(../assets/images/firm-style/icons/video-pause-black.jpg);
}
.video__stop {
	background-image: url(../assets/images/firm-style/icons/video-stop.png);
}
.video__stop:hover {
	background-image: url(../assets/images/firm-style/icons/video-stop-black.jpg);
}
/*****end // Firm-style Video-section*****/
/*****start // Firm-style Descr-section*****/

.firm-style__descr--wrap {
	background-image: url(firm-style/bg-dashed.png);
	background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.firm-style__descr {
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
}
.firm-style__descr--text-first {
	padding: 45px 0px 15px 90px;
}
.firm-style__descr--text-second {
	width: 777px;
	padding: 27px 137px 0px 57px;
}
.firm-style__descr--text-third {
	padding: 27px 61px 0px 93px;
}
.firm-style__descr--icon {
	text-align: center;
    width: 330px;
    position: relative;
}
.firm-style__descr--icon-first {
	top: 15px;
    left: 40px;
}
.firm-style__descr--icon-second {
	top: -18px;
    left: 35px;
}
.firm-style__descr--icon-third {
	top: -13px;
    left: 11px;
}

/*****end // Firm-style Descr-section*****/
/*****final // Firm-style *****/